<div class="container">
    <div class="row">
        <div class="col-5 m-auto">
            <div class="form_wrapper">
    <div class="form_container">
      <div class="title_container">
        <h2>Reset Password</h2>
      </div>
      <div class="row clearfix">
        <div class="row">
          <form #resetForm = "ngForm" class="mt-2">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input name="email"  ngModel={{email}} class="form-control" readonly  >
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Enter OTP</label>
                <input name="otp"  ngModel #otp="ngModel" class="form-control"  required >
                <small class="text-danger" *ngIf="(otp.invalid && otp.touched)" >OTP required</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">New Password</label>
                <input name="newPassword" ngModel #password="ngModel" class="form-control" type="password" pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*_-]).+$" minlength="8" required>
                <div *ngIf="(password.invalid && password.touched)">
                    <small class="text-danger" *ngIf="(password.errors!['required'] && password.touched)">password required</small>
                    <ul style="color: red;">
                        <li *ngIf="(password.errors!['minlength'] && password.touched)"><small class="text-danger" >Minimum Length of Password Should be 8 Characters.</small></li>
                        <li *ngIf="(password.errors!['pattern'] && password.touched)"><small class="text-danger" >Password Should Be consists of One Numberic Char, One capital Alphabet, One Special Characters " !@#$%^&*_- ".</small></li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Confirm Password</label>
                <input name="confirmPassword" ngModel #cpassword="ngModel" class="form-control" type="password" pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*_-]).+$" minlength="8" required>
                <div *ngIf="(cpassword.invalid && cpassword.touched)">
                    <small class="text-danger" *ngIf="(cpassword.errors!['required'] && cpassword.touched)">Confirm Password and password should be same</small>
                    <ul style="color: red;">
                        <li *ngIf="(cpassword.errors!['minlength'] && cpassword.touched)"><small class="text-danger" >Minimum Length of Password Should be 8 Characters.</small></li>
                        <li *ngIf="(cpassword.errors!['pattern'] && cpassword.touched)"><small class="text-danger" >Password Should Be consists of One Numberic Char, One capital Alphabet, One Special Characters " !@#$%^&*_- ".</small></li>
                    </ul>
                </div>
            </div>
            <hr/>
            <input class="btn btn-success mt-2" (click)="sendData(resetForm.value)" type="submit" value="Login" />
          </form>
        </div>
      </div>
    </div>
            </div>
        </div>
    </div>
</div>